@import url('https://fonts.cdnfonts.com/css/lovelo?styles=25962');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'lovelo', sans-serif;
    text-align: center;
}

.menu-container{
    background: #373737;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 8px 50px;
}

.menu-links{
    display: flex;
    /*justify-content: space-between;*/
    align-items: flex-end;
    margin-bottom: 16px;
}

li{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

ul{
    display: flex;
    margin: 0;
    padding: 0 100px;
    gap: 30px;
    list-style-type: none;
    
}

.photo-grid-container{
    background-color: #f6eee4;
    height: 630px;
    width: 1903px;
    /*display: flex;*/
    justify-content: center;
    
    display: grid;
    grid-template-columns: 1fr; /* 1 fraction total available space of the column in the grid*/
    grid-template-rows: 1fr;
    place-items: center;
}

.photo-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 30px;

}

.photo-grid-container .latest-banner{
    grid-row: 1 / 1.5; /*1 is the start of the grid area and 1.5 will be the end of it - same can be for grid row and grid column - The item is in the 2nd cell in the row of the grid*/
    grid-column: 1 / 1.5;
    place-self: center;
}

.photo-grid-container .latest-banner img{
    width: 850px;
}

.photo-grid-container .photo-grid{
    grid-row: 1 / 1; 
    grid-column: 1 / 1;
    place-self: center;

}

.photo-grid-item img{
    width: 375px;
    height: 530px;

}

/*.photo-grid-item:nth-of-type(1){
    width: 100px;
    height: 200px;
}*/



.first-item{
    order: -1;
}

.photo-grid2-container{
    background-color: #f7f8f8;

}


.photo-grid2-container .photo-grid2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    gap: 100px;
}

.photo-grid2-item{
    max-width: 200px;
}

.photo-grid2-item .text{
    font-size: 20px;
    color: #648d69;
}

.photo-grid2-item:hover{
    cursor: pointer;
}

.photo-grid2 .photo-grid2-item img{
    height: 130px;
    width: 130px;
}

.recipe-container{ 
    font-family: 'Times New Roman', Times, serif;
    color: #373737;
    margin: 100px;
    height: 1000px;
    width: 1000px;
}

.recipe-container .recipe-card-1{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 500px;
}

.recipe-container .recipe-card-1 .recipe-info{
    background-color: #f6eee4;
    padding: 16px;
}

.recipe-container .recipe-card-1 .recipe-info .header{
    font-size: 19px;
    font-weight: 600;
}

.recipe-container .recipe-card-2{
    display: flex;
    height: 200px;
    width: 500px;
}

.recipe-container .recipe-card-2 .header{
    font-size: 19px;
    font-weight: 600;

}

.recipe-container .recipe-card-2 .recipe-info{
    background-color: #f6eee4;
    padding: 25px;
    align-items: center;
}

.recipe-container .recipe-card-3{
    display: flex;
    flex-direction: column;
    width: 230px;
}

.recipe-container .recipe-card-3 .recipe-info{
    color: #fff;
    background-color: #99a290;
    height: 198px;
    padding: 10px;
}

.recipe-container .recipe-card-3 .recipe-info .header{
    font-size: 19px;
    font-weight: 600;
}

.recipe-container .recipe-card-3 .recipe-info .text{
    font-size: 13px;
}

















